<div id="comment">
  <div>
    <%= link_to 'X',[comment.article, comment],
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
  </div>
  <div >
    <strong >Commenter:</strong>
    <%= comment.commenter%>
  </div>
  
  <div>
    <strong >Comment:</strong>
    <%= comment.body%>
  </div>
</div>