<nav id="header">
  <a class="navbar-brand" href="/articles">My Blog</a>
  <div id="image-container">
      <div id="image-1">
        <img src='https://www.sketch.com/images/campaigns/native/illo/Tools.svg'>
      </div>
      <div id="image-2">
        <img src="https://www.sketch.com/images/campaigns/native/illo/Mac.svg">
      </div>
      <div id="image-3">
        <img src='https://www.sketch.com/images/campaigns/native/illo/Inspector.svg'>
      </div>
  </div>
</nav>