#comment {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  div {
    margin: 0.3rem 0;
  }
}

#show_body {
  background-color: rgb(240, 231, 231);
  #container {
    width: 80%;
    margin: auto;
    padding: 2.5rem 1rem;
    .display-1 {
      font-family: Georgia, "Times New Roman", Times, serif;
      text-align: center;
      letter-spacing: -0.035em;
    }
    #content {
      width: 60%;
      margin: 5rem auto;
      font-size: 1.5rem;
      font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
      text-align: justify;
    }
  }
}

#header {
  border-bottom: 3px solid black;
  #image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.8rem;
    position: relative;
    #image-1 {
      position: absolute;
      left: 25%;
      top: 8%;
    }
    #image-3 {
      position: absolute;
      top: 31%;
      right: 21%;
    }
  }
}
