$slate-color: #e5ebec !default;
$body-bg-color: #222 !default;
$white: #fff !default;
$font-weight-bolder: 600 !default;
$font-size-base-h1: 1rem !default;
$h1-font-size: $font-size-base-h1 * 4 !default;

$body-bg: $body-bg-color !default;
$body-color: $white !default;
